.flex{
    display: flex;
}
.flex-row{
    flex-direction: row;
}
.flex-row-reverse{
    flex-direction: row-reverse;
}
.flex-justify-end{
    justify-content: flex-end;
}

.wrap{
    flex-wrap:wrap;
}
